:root {
  --aisberg-blau    : #1e4586;
  --aisberg-eisblau : #8fadd1;
  --aisberg-rot     : #d82a34;
  --aisberg-weiss   : #ffffff;
}


.navbar {
  background: var(--aisberg-blau);
}

.nav-container {
  /*font-size: calc(17 / var(--rem-base) * 1rem);*/
  font-size: 0.7rem;
}



@media screen and (min-width: 769px) {
  .nav-container {
    /*width: var(--nav-width);*/
    width: 25rem;
  }
}
@media screen and (min-width: 1024px) {
  .doc {
    /*max-width: var(--doc-max-width--desktop);*/
    max-width: 70rem;
  }
  aside.toc.sidebar {
    /*-ms-flex-preferred-size: 12rem;*/
    flex-basis: 18rem;
  }
}

/* .doc .imageblock img,
.doc .imageblock object[type="image/svg+xml"],
.doc .image > img {
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
} */

@import "medium-zoom.css";
